@font-face {
    font-family: "iconfont"; /* Project id 4489923 */
    /* Color fonts */
    src:
            url('//at.alicdn.com/t/c/font_4489923_zkvew04yfbc.woff2?t=1711903705863') format('woff2'),
            url('//at.alicdn.com/t/c/font_4489923_zkvew04yfbc.woff?t=1711903705863') format('woff'),
            url('//at.alicdn.com/t/c/font_4489923_zkvew04yfbc.ttf?t=1711903705863') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-huihuacundangicon_huihua:before {
    content: "\e601";
}

.icon-qunguanliyuan:before {
    content: "\e600";
}

.icon-qunzhu:before {
    content: "\e626";
}

.icon-sousuo:before {
    content: "\e612";
}

.icon-chuangjianqunliao:before {
    content: "\e735";
}

.icon-QQ:before {
    content: "\e667";
}